<h3>Gathering Locations</h3>
<div class="row">
  <div class="col s8">
    <div class="row">
      <div class="col s3">
        <div class="gathering-images">
          <a href="#" class="image-modal-trigger">
            <img class="fit-width fit-height" src="assets/contents/gathering/gathering-1.png" data-name="Gathering 1">
          </a>
        </div>
      </div>
      <div class="col s3">
        <div class="gathering-images">
          <a href="#" class="image-modal-trigger">
            <img class="fit-width fit-height" src="assets/contents/gathering/gathering-2.png" data-name="Gathering 2">
          </a>
        </div>
      </div>
      <div class="col s3">
        <div class="gathering-images">
          <a href="#" class="image-modal-trigger">
            <img class="fit-width fit-height" src="assets/contents/gathering/gathering-3.png" data-name="Gathering 3">
          </a>
        </div>
      </div>
      <div class="col s3">
        <div class="gathering-images">
          <a href="#" class="image-modal-trigger">
            <img class="fit-width fit-height" src="assets/contents/gathering/gathering-4.png" data-name="Gathering 4">
          </a>
        </div>
      </div>
      <div class="col s3">
        <div class="gathering-images">
          <a href="#" class="image-modal-trigger">
            <img class="fit-width fit-height" src="assets/contents/gathering/gathering-5.png" data-name="Gathering 5">
          </a>
        </div>
      </div>
      <div class="col s3">
        <div class="gathering-images">
          <a href="#" class="image-modal-trigger">
            <img class="fit-width fit-height" src="assets/contents/gathering/gathering-6.png" data-name="Gathering 6">
          </a>
        </div>
      </div>
      <div class="col s3">
        <div class="gathering-images">
          <a href="#" class="image-modal-trigger">
            <img class="fit-width fit-height" src="assets/contents/gathering/gathering-7.png" data-name="Gathering 7">
          </a>
        </div>
      </div>
      <div class="col s3">
        <div class="gathering-images">
          <a href="#" class="image-modal-trigger">
            <img class="fit-width fit-height" src="assets/contents/gathering/gathering-8.png" data-name="Gathering 8">
          </a>
        </div>
      </div>
      <div class="col s3">
        <div class="gathering-images">
          <a href="#" class="image-modal-trigger">
            <img class="fit-width fit-height" src="assets/contents/gathering/gathering-9.png" data-name="Gathering 9">
          </a>
        </div>
      </div>
      <div class="col s3">
        <div class="gathering-images">
          <a href="#" class="image-modal-trigger">
            <img class="fit-width fit-height" src="assets/contents/gathering/gathering-10.png"data-name="Gathering 10">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

 <!-- Modal Structure -->
<div id="image-modal" class="modal gathering-modal">
  <div class="modal-content">
    <h4>{{gatheringName}}</h4>
    <img [src]="gatheringImage"/>
  </div>
</div>