<h3>Cat Lady Menu</h3>
<blockquote>
  <div class="cat-menu-like">
    <img src="//monsterhunteronline.in/images/cat-lady-menu.png" />
    <ul>
      <li>Hire a cat (Options never change)</li>
      <li>Cat Kindergarten - Chance for better quality cats (Changes daily)</li>
      <li>Terminate a cat</li>
    </ul>
  </div>
</blockquote>
<br/>

<h3>Cat Quality</h3>
<blockquote>
  <div class="cat-menu-normal">
    <img src="//monsterhunteronline.in/images/L77lh3e.png" />
    <ul>
      <li>White (Normal)</li>
      <li>Green (Rare)</li>
    </ul>
    Note: White cat's have 1 skill and green cat's have 2 skills
  </div>
</blockquote>
<br/>

<h3>Cat Information</h3>
<blockquote>
  <div class="cat-menu-like">
    <div class="row">
      <div class="col s4">
        <img class="fit-width" src="//monsterhunteronline.in/images/ht9eLJS.png" />
      </div>
      <div class="col s7">
        <ul class="no-padding">
          <li class="cat-submenu">
            <h4 class="header">Enemy Preference</h4>
            <ul>
              <li><b>专注大型</b> - Large Monsters only</li>
              <li><b>专注小型</b> - Small Monsters only</li>
              <li><b>大型优先</b> - Prioritize Large Monsters</li>
              <li><b>小型优先</b> - Prioritize Small Monsters</li>
              <li><b>平衡</b> - Balanced</li>
            </ul>
          </li>
          <li class="cat-submenu">
            <h4 class="header">Attack Types</h4>
            <ul>
              <li><b>近战</b> - Melee</li>
              <li><b>爆弹</b> - Bombs</li>
              <li><b>回旋镖</b> - Boomerangs</li>
              <li>Can be a mix of the above.</li>
            </ul>
          </li>
          <li class="cat-submenu">
            <h4 class="header">Personality</h4>
            <ul>
              <li><b>勇敢 - Brave</b> - Aggressive cat but has 2 flaws: draws monsters attention too
              quickly, bad for Great Sword/Hammer users. And secondly, because it
              draws attention quick, it dies quickly.
              </li>
              <li><b>机灵 - Smart</b> - Less aggressive than Brave cats, and knows how to attack
              monster weak spots. However, Smart cats have a fatal flaw of running
              away whenever a monster rages.
              </li>
              <li><b>和平主义 - Pacifist</b> - They will not attack monsters at all. They should mainly be
              used as a supportive role: To gather and to utilize support skills such
               as flutes and traps. I would recommend getting a Green quality Pacifist
               for gathering and support skills.
               </li>
              <li><b>爱主人 - Loyal</b> - Whenever the hunter gets attacked, Loyal cats will try to
              attack and draw the attention of the monsters. They are not as
              aggressive as Brave types, so tend to die less comparatively. A balanced
               cat overall.
               </li>
             </ul>
          </li>
          <li class="cat-submenu">
            <h4 class="header">Fur Color</h4>
            <ul>
              <li>Purely for aesthetics and achievement completion.</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</blockquote>
<br/>

<h3>Cat Training</h3>
<blockquote>
  <div class="cat-menu-like">
    <img src="//monsterhunteronline.in/images/Weight-Training.png"/>
    <ul>
      <li><b>Weight Training</b><br/>Increase defense</li>
    </ul>
  </div>
  <div class="cat-menu-like">
    <img src="//monsterhunteronline.in/images/Roadwork.png"/>
    <ul>
      <li><b>Roadwork</b><br/>Increase vitality</li>
    </ul>
  </div>
  <div class="cat-menu-like">
    <img src="//monsterhunteronline.in/images/Meditation-Training.png"/>
    <ul>
      <li><b>Meditation Training</b><br/>Increase time until fatigued</li>
    </ul>
  </div>
  <div class="cat-menu-like">
    <img src="//monsterhunteronline.in/images/Sandbag-Training.png"/>
    <ul>
      <li><b>Sandbag Training</b><br/>Increase attack</li>
    </ul>
  </div>
  <div class="cat-menu-like">
    <img src="//monsterhunteronline.in/images/Intimacy-Training.png"/>
    <ul>
      <li><b>Intimacy Training</b><br/>Increase intimacy</li>
    </ul>
  </div>

  
</blockquote>